* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  min-height: 100vh;
  max-height: 100%;
  background-color: #9ba9eb;
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Roboto';
}
.app-logo {
  width: 150px;
  height: 45px;
  margin-bottom: 30px;
}
.sub-div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 20px;
  background-color: #5763a5;
  height: 50vh;
  width: 100%;
  border-radius: 5px;
}
.add-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  width: 350px;
  height: auto;
  align-items: flex-start;
  background-color: #454f84;
  border-radius: 5px;
  color: #f8fafc;
}
.detail-heading {
  font-size: 16px;
  font-weight: normal;
}
.input-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 35px;
  border-radius: 2px;
  background-color: #f8fafc;
}
.input-image {
  height: 14px;
  width: 14px;
  margin: 10px;
}
.input-element {
  padding: 5px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-style: none;
  outline: none;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #94a3b8;
  font-size: 10px;
}
.add-btn {
  background-color: #0b69ff;
  color: white;
  font-size: 10px;
  width: 60px;
  padding: 5px;
  align-self: flex-end;
  border-style: none;
  outline: none;
  border-radius: 2px;
}
.sub-div-image1 {
  width: 25%;
  height: 100%;
}
.sub-div-image2 {
  display: none;
}
.sub-div2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  background-color: #5763a5;
  min-height: 50vh;
  max-height: 100%;
  width: 100%;
  border-radius: 5px;
}
.first-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.your-password {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.check-box {
  height: 15px;
  width: 15px;
  border-style: none;
  outline: none;
  margin-right: 10px;
}
.result-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .sub-div1 {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  .sub-div-image1 {
    display: none;
  }
  .sub-div-image2 {
    display: block;
    width: 300px;
    height: 200px;
    margin-bottom: 18px;
  }
  .sub-div2 {
    min-height: 50vh;
  }
  .result-container {
    justify-content: center;
  }
}
